#info label {
  width: 80px;
  color: #303030;
  display: inline-block;
}
#info input[type="text"],
#info input[type="email"] {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

#info input[type="submit"] {
  cursor: pointer;
}
.holder {
  padding: 20px;
  text-align: center;
  background: #c1c1c11f;
}
h3 {
  color: #303030;
}
.btn {
  padding: 15px 60px;
  border: none;
  background: #1dc77b;
  color: white;
  border-radius: 8px;
  margin-left: 77px;
  margin-top: 8px;
}

.message {
  border: 1px solid #a3a3a3;
  padding: 8px;
  width: 27%;
  border-radius: 5px;
  margin: 15px auto;
}

.danger {
  background: #ff6767;
}

.success {
  background: #1dc77b;
}
